.file-preview .media-body {
    width: unset;
}

.external-resource-data-preview-delete-feature:hover {
    color: red;
}

.uncreated-resource-row {
    display: flex;
    border-top: unset;
    white-space: nowrap;
    cursor: pointer;
    border-bottom: 1px solid #D3E5F4;
}

.uncreated-resource-row:nth-child(odd) {
    background: #F5FAFE;
}

.uncreated-resource-row:hover {
    background-color: lightblue;
}

.is-selected {
    background-color: lightblue !important;
}

.has-errors {
    background-color: indianred !important;
    color: white;
}

.has-errors:hover {
    filter: brightness(150%)
}

.selected-with-errors {
    background-color: red !important;
}
.selected-with-errors:hover {
    filter: brightness(150%);
}

.uncreated-resource-row-popup {
    min-height: 40px;
    padding: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #D3E5F4;
    border-bottom: unset;
}

.uncreated-resource-row-popup:nth-child(odd) {
    background: #F5FAFE;
}
.uncreated-resource-row-popup:last-child {
    border-bottom: 1px solid #D3E5F4;
}