{% extends "views/components/widgets/base.htm" %}
{% load i18n %}

{% block form %}
<div class="row widget-wrapper file-preview">
    <div style="display: none;" data-bind="text: $data.pageVm($root)"></div>
    <div 
        class="form-group"
        style="display: flex; flex-direction: column;"
    >
        <label class="control-label widget-input-label" for="" data-bind="text:label"></label>

        <!-- ko if: node -->
        <i data-bind="css: {'ion-asterisk widget-label-required': node.isrequired}"></i>
        <!-- /ko -->
        
        <div class="col-xs-12 dropzone" data-bind="dropzone: dropzoneOptions">
            <div 
                style="
                    border: 1px dashed #bbb;
                    border-radius: 6px;
                "
                data-bind="
                    visible: addedFiles().length === 0
                "
            >
            <div 
                class="fileinput-button dz-clickable" 
                style="
                    cursor: pointer;
                "
                data-bind="css: uniqueidClass"
            >
                <div 
                    class="pad-ver file-select"
                    style="padding: 5px 10px"
                >
                    <div style="padding: 5px;">
                        <h3
                            data-bind="text: `Drag ${RESOURCE_NAME} Resource files here` "
                        ></h3>

                        <div style="font-weight: lighter;">
                            {% trans "( or click to manually select a file )" %}
                        </div>

                        <div 
                            style="
                                margin-top: 18px;
                                border-top: 1px solid #ddd;
                            "
                        >
                            <div
                                style="
                                    font-weight: lighter;
                                    font-size: 12px;
                                    display: flex;
                                    justify-content: space-between;
                                    margin-top: 8px;
                                    padding: 0 4px;
                                "
                            >

                                <div>
                                    <span>{% trans "Allowed formats:" %}</span>
                                    <span data-bind="text: (acceptedFiles() || 'Any')"></span>
                                </div>
                                
                                <div>
                                    <span>{% trans "Maximum size:" %}</span>
                                    <span data-bind="text: maxFilesize() + 'MB'"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            
            </div>

            <!-- 
                note that data-bind=visible must be in place (instead of ko if:) as DZ instantiates only once;
                elements it depends on must exist at time of init 
            -->
            <div 
                style="border: unset;"
                class="dz-previews" 
                data-bind="{
                    visible: addedFiles().length > 0,
                    css: uniqueidClass,
                }"
            >
                <div
                    style="
                        display: flex;
                        justify-content: space-between;
                    "
                >
                    <h4>{% trans "Uploaded Files" %}</h4>

                    <div 
                        class="file-upload-options"
                        style="padding: 10px 0px;"
                    >
                        <!-- ko if: filter() -->
                        <span data-bind="text: filteredList().length+' out of '+addedFiles().length+' files match filter'"></span>
                        <!-- /ko -->

                        <!-- ko if: (!filter() || filter() == "") -->
                        <span data-bind="text: addedFiles().length + '{% trans " file(s) uploaded" %}'"></span>
                        <!-- /ko -->
                    </div>
                </div>

                <!--ko if: addedFiles().length > 1-->
                <input 
                    data-bind="textInput: filter" 
                    type="text" placeholder="{% trans 'find a file...' %}" 
                    class="file-upload-filter"
                    style="
                        width:100%;
                        margin-bottom: 6px;
                    "
                >
                <!-- /ko -->

                <!-- Clear Search -->
                <div 
                    style="
                        position: absolute;
                        top: 44px;
                        left: 320px;
                        cursor: pointer;
                    " 
                    data-bind="visible: filter().length > 0, click: function() { filter(''); }"
                >
                    <i class="fa fa-times-circle"></i>
                </div>

                <div 
                    style="
                        display: flex;
                        justify-content: space-between;
                        padding-bottom: 8px;
                    "
                >

                    <div>

                        <button 
                            type="button" 
                            class="btn btn-file-upload-reset dropzone fileinput-button dz-clickable" 
                            style="padding: unset;"
                            data-bind="css: uniqueidClass"
                        >
                            <span>{% trans "Add another file" %}</span>
                        </button>
                    </div>

                    <button 
                        type="button" 
                        class="btn btn-file-upload-reset"
                        style="
                            padding: unset;
                        " 
                        data-bind="click: reset"
                    >
                        <span>{% trans "Remove all files" %}</span>
                    </button>
                </div>

                <div 

                    data-bind=""
                ></div>

                <!-- ko if: addedFiles().length > 0 -->
                    <table
                        style="
                            display: flex;
                            overflow: hidden;
                            border: 1px solid #D3E5F4;
                            border-bottom: unset;
                            max-height: 150px;
                        "
                    >
                        <tbody
                            style="overflow: scroll;"
                            data-bind="foreach: filter() ? filteredList : addedFiles"
                        >
                            <tr class="file-upload-card">
                                <td>
                                    <div class="media-body">
                                        <div style="display: flex;">
                                            <div
                                                style="
                                                    display: flex;
                                                    align-items: center;
                                                    margin-left: 8px;
                                                "
                                            >
                                                <button 
                                                    class="btn btn-xs btn-danger btn-file-cancel"
                                                    data-bind="click: $parent.removeFile"
                                                >
                                                    <i class="ion ion-close"></i>
                                                </button>
                                            </div>
    
                                            <div class="file-upload-card-detail">
                                                <div
                                                    style="padding: 0 8px;"
                                                >
                                                    <span 
                                                        style="white-space: nowrap;"
                                                        data-bind="text: name"
                                                    ></span>
    
                                                    <!-- ko if: $data.error -->
                                                    <span class="dz-error text-danger text-sm" data-bind="text: '{% trans "error" %}'"></span>
                                                    <!-- /ko -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                <!-- /ko -->
            </div>
        </div>

        <!-- ko if: ko.unwrap(uncreatedResourceData).length > 0-->
        <div
            class="control-label widget-input-label"
            style="padding: 5px 0;"
        >
            {% trans "Resource Preview" %}
        </div>

        <div
            style="
                max-height: 200px;
                overflow-y: scroll;
                width: 100%;
                border: 1px solid #ddd;
            "
        >
            <div
                style="
                    width: 100%;
                    overflow-x: scroll;
                "
            >
                <table style="display: flex;">
                    <tbody
                        style="
                            overflow: hidden;
                            width: 100%;
                        "
                        data-bind="foreach: uncreatedResourceData()"
                    >
                        <tr
                            class="uncreated-resource-row"
                            data-bind="
                                css: { 
                                    'is-selected': $parent.selectedResourceData() === $data.row_id ,
                                    'has-errors': !_.isEmpty(ko.unwrap($data['errors'])),
                                    'selected-with-errors': $parent.selectedResourceData() === $data.row_id && !_.isEmpty(ko.unwrap($data['errors'])),
                                },
                                click: function() { 
                                    if ($parent.selectedResourceData() === $data.row_id) {
                                        $parent.selectedResourceData(null); 

                                        if ($parents[1].popup) {
                                            $parents[1].popup.remove()
                                            $parents[1].draw.changeMode('simple_select')
                                        }
                                    }
                                    else {
                                        $parents[1].selectData($data); 
                                        $parent.selectedResourceData($data.row_id);
                                    }
                                },
                            "
                        >
                            <td
                                style="display: flex;"
                            >
                                <button 
                                    class="btn btn-link external-resource-data-preview-delete-feature"
                                    data-bind="
                                        click: function() { $parent.deleteResourceDatum($data.row_id) }
                                    "
                                >
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                            <td 
                                style="
                                    display: flex;
                                    align-items: center;
                                    padding-left: 8px;
                                "
                                data-bind="
                                    visible: !_.isEmpty(ko.unwrap($data['errors']))
                                "
                            >
                                <i class="fa fa-exclamation-circle"></i>
                            </td>
                            <!-- ko foreach: { data: Object.keys(CSV_COLUMN_NAMES_TO_NODE_IDS), as: 'key' } -->
                                <!-- ko if: CSV_COLUMN_NAMES_TO_NODE_IDS[key]['visible'] -->
                                <td 
                                    style="
                                        display: flex;
                                        align-items: center;
                                        overflow: scroll;
                                        flex: 1;
                                    "
                                >
                                    <span
                                        style="padding: 0 8px"
                                        data-bind="{
                                            text:(function(){
                                                var nodeId = CSV_COLUMN_NAMES_TO_NODE_IDS[key]['node_id'];
                                                return $parent['row_data'][nodeId];
                                            })()
                                        }"
                                    ></span>
                                </td>
                                <!-- /ko -->
                            <!-- /ko -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <button 
            style="margin-top: 5px;"
            class="btn btn-success"
            data-bind="{
                click: createResources,
                enable: !resourceDataHasErrors(),
            }"
        >
            {% trans 'Create Resources' %}
        </button>
        <!-- /ko -->
    </div>
</div>

<template id="file-widget-dz-preview"><span></span></template>
{% endblock form %}

{% block config_form %}
<div class="control-label">
    {% trans "Accepted File Types" %}
</div>
<div class="col-xs-12 pad-no crud-widget-container">
    <input type="" placeholder="{% trans "example: .jpg, .png, .txt" %}" id="" class="form-control input-md widget-input" data-bind="value: acceptedFiles, valueUpdate: 'keyup'">
</div>

<div class="control-label">
    {% trans "Max File Size (mb)" %}
</div>
<div class="col-xs-12 pad-no crud-widget-container">
    <input type="number" placeholder="{% trans "Max File Size (mb)" %}" id="" class="form-control input-md widget-input" data-bind="value: maxFilesize">
</div>

{% endblock config_form %}
